extends baseEmail 

block content
    p Hi #{name},
    -if(txDetails.sendToSender)
        p Your Transaction to #{txDetails.coinRecieverName} is successful. 
    -else
        p Your have recieved #{txDetails.amount} coin from #{txDetails.coinSenderName}. 
    p Your current balance is  #{accountBalance} coins .
    p - MyWallet